In [ ]:
number = '15'
print('Type of number before int() function: ', type(number))
 
number = int(number)
 
print('Type of number after int() function: ', type(number))

In [8]:
def hello(name):
  print('Hello', name)

In [10]:
hello('Deniz')

Hello Deniz

In [3]:
def sum(number1, number2):
  print(number1 + number2)

In [4]:
sum(3, 5)

8

In [14]:
result = sum(3, 5)
print(result)

TypeError: 'int' object is not iterable

In [15]:
def sum(number1, number2):
  answer = number1 + number2
  return answer
 
result = sum(3, 5)
print(result)

8

In [27]:
def sun(number1, number2):
  print(number1 + number2)
sun(3, 7)

10

In [28]:
def greetings(name):
  print('Hello', name)
greetings('zeey')

Hello zeey